/* ? Specifically for the landing page (adds to style.css) */
.landing-container {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../Lynda_K_Tattooing.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:80vw;
	background-color: rgba(22, 17, 24, 0);
	background-position: center;
    min-height:50vh;
    backdrop-filter: blur(10px);

}

.pfp {
	max-width: 80vw;
	aspect-ratio: 1/1;
	margin: 15px 10px;
}

h2 {
    font: 52px georgia;
}

.signature {
	max-width:20vw;
	aspect-ratio: 1/1;
}

.artist-name {
	margin-top: 60px;
}

h3 {
    font: 42px georgia;
}

/** Navbar css  */

/** Left + right sections of the navigation */
.paged.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin: 6px 10px;
	flex-direction: column;
}

    .paged.nav .left {
        flex: 1;
    }

    .paged.nav .right {
        flex: 3;
        display: flex;
        justify-content: flex-end;
    }

    .paged.nav .right > ul {
        list-style: none; /* Remove bullets */
        text-transform: uppercase;
    }

    .paged.nav .right > ul > li {
        display: inline;
        margin-right: 20px;
    }

    /* Links within list items */
    .paged.nav .right > ul > li > a,

    
    /*OnHover Add white shadow*/
    .paged.nav .right > ul > li > a:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    
    /*onClick Add white shadow */
    .paged.nav .right > ul > li > a:active {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    
    button > div {
        margin: 15px 15px;
    }
    
    .paged.nav .left a,

    /** Logo */
    .paged.nav .left img {
        display: block;
        min-width: 10px;
        max-width: 90px;
        height: auto;
        padding: 2px;
        border-radius: 50px;
    }
    
    .paged.nav .right .bar {
        display: inline-block;
        width: auto;
        padding: 10px;
    }

.footer-text {
    text-decoration: none;
    color: white;
    font-weight: 100;
    text-shadow: none;
    transition: text-shadow 0.3s; /* Smooth transition for text shadow changes */
}

/** Footer Insta  */

.break-line {
	height: 1px;
	width: 80vw;
	background-color: #ccc;
	margin: 20px 60px;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

	.footer-text {
		list-style: none; /* Remove bullets */
		text-transform: uppercase;
	}

	footer > a > img {
		display: block;
		min-width: 10px;
		max-width: 30px;
		height: auto;
		padding: 2px;
		margin-bottom: 10px;
		text-shadow: none; /* Initial text shadow */
		transition: text-shadow 0.3s;
	}

	/*onHover Add white shadow */
	footer > a:hover > img {
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.623);
	}

	/*onClick Add white shadow */
	footer > a:after > img {
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.623);
	}