<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LynkYnk- Contact</title>
    <!-- <link rel="icon" type="image/x-icon" href="/static/images/favicon/favicon_inverted.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_nav_basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_footer_insta.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}"> -->
    <link rel="icon" type="image/x-icon" href="./static/images/favicon/favicon_inverted.png">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/_nav_basic.css">
    <link rel="stylesheet" href="./css/_footer_insta.css">
    <link rel="stylesheet" href="./css/skinCare.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <!--* NAVBAR  -->
    <!-- {% include '_nav_basic.html' %} -->
    <nav class="paged nav">
        <div class="left">
            <a href="./index.html"><img src="./static/images/lynk_ynk_pfp.png" alt="Lynk_Ynk's Profile Picture"></a>
        </div>
        <div class="right">
            <ul>
                <li><a href="./gallery.html">Gallery</a></li>
                <li><a href="./flashArt.html">Flash Art</a></li>
                <li><a href="./skinCare.html">Skin Care</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="break-line"></div>
    </nav>
    <div class="paged container">
        <!--* Contact Form -->
        <div id="name1">
            <fieldset>
                <div>
                    <h4><span style="color: lightblue;"> Currently, all request must be made via Instagram or in-person @ High Rank Tattoo. Form coming Soon!</span></h4>
                </div>
                
                <!-- ! This div encapsulates all fields within Contact Form Fieldset -->
                <!-- <div class="contact-container">
                    <h2>
                        Contact Form
                    </h2>
                    <label for="fname-field">
                        <div>
                            <div>First Name (required)</div>
                        </div>
                    </label>
                    <input aria-invalid="false" aria-required="true" autocomplete="given-name" id="fname-field"
                        name="fname" type="text" value="">
                    <div>
                        <label for="lname-field">
                            <div>
                                <div>Last Name (required)</div>
                            </div>
                        </label>
                        <input aria-invalid="false" aria-required="true" autocomplete="family-name" id="lname-field"
                            name="lname" type="text" value="">
                    </div>
                    <div id="email2">
                        <label for="email2-field">
                            <div>
                                <div>Email Address (required)</div>
                            </div>
                        </label>
                        <input aria-invalid="false" aria-required="true" autocomplete="false" id="email-field"
                            placeholder="customer@email.com" type="email" value="">
                    </div>
                    <div id="text3">
                        <label for="text3-field">
                            <div>
                                <div>
                                    <span>Subject</span>
                                    <span class="description required">(required)</span>
                                </div>
                            </div>
                        </label>
                        <input aria-invalid="false" aria-required="true" autocomplete="false" id="subject-field"
                            placeholder="American Trad Flying Zebra" type="text" value="">
                    </div>
                    <div id="textarea4">
                        <label for="textarea4-field">
                            <div>
                                <div>
                                    <span>Message</span>
                                    <span class="description required">(required)</span>
                                </div>
                            </div>
                        </label>
                        <textarea id="textarea4-field" aria-invalid="false" rows="5"
                            placeholder="How and why do you envision this piece?" value=""></textarea>
                    </div>
                    <button type="button" id="submitBtn">Send Email</button>
                </div> -->
            </fieldset>
        </div>
    </div>
    </div>

    <!--* FOOTER -->
    <!-- {% include '_footer_insta.html' %} -->
    <footer class="footer-text">
        <div class="break-line"></div>
        <a href="https://www.instagram.com/lynk_ynk/" target="_blank"><img src="./static/images/icons/ig-logo-white.png" alt="Instagram Link to Lynk_Ynks profile"></a>
    </footer>
    <!-- <script src="{{ url_for('static', filename='js/gallery.js') }}"></script> -->
    <script src="./static/js/gallery.js"></script>
</body>
</html>