<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LynkYnk- Tattoo Portfolio</title>
    <!-- <link rel="icon" type="image/x-icon" href="/static/images/favicon/favicon_inverted.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_nav_basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_footer_insta.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}"> -->
    <link rel="icon" type="image/x-icon" href="./static/images/favicon/favicon_inverted.png">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/_nav_basic.css">
    <link rel="stylesheet" href="./css/_footer_insta.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <!--* NAVBAR  -->
    <!-- {% include '_nav_basic.html' %} -->
    <nav class="paged nav">
        <div class="left">
            <a href="./index.html"><img src="./static/images/lynk_ynk_pfp.png" alt="Lynk_Ynk's Profile Picture"></a>
        </div>
        <div class="right">
            <ul>
                <li><a href="./gallery.html">Gallery</a></li>
                <li><a href="./flashArt.html">Flash Art</a></li>
                <li><a href="./skinCare.html">Skin Care</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="break-line"></div>
    </nav>
    <div class="paged container">
        <!--* PICTURES -->
        <div class="gallery">
            <!-- <img src="./static/images/tattoos/" alt=""> -->
            <img src="./static/images/tattoos/angel_demon_calf.jpg" alt="tattoo of an angel and a demon fighting">
            <img src="./static/images/tattoos/angel_font_arm.jpg" alt="">
            <img src="./static/images/tattoos/bear_realistic_arm.jpg" alt="">
            <img src="./static/images/tattoos/beta_color_arm.jpg" alt="">
            <img src="./static/images/tattoos/butterfly_roses_arm.jpg" alt="">
            <img src="./static/images/tattoos/cardinal_back.jpg" alt="">
            <img src="./static/images/tattoos/cauldron_shin.jpg" alt="">
            <img src="./static/images/tattoos/constellation_floral_collar.webp" alt="">
            <img src="./static/images/tattoos/constellation_floral_collar_2.webp" alt="">
            <img src="./static/images/tattoos/constellation_floral_collar_3.webp" alt="">
            <img src="./static/images/tattoos/constellation_sunflower_shin.jpg" alt=" ">
            <img src="./static/images/tattoos/constellation_watercolor_collar.jpg" alt="">
            <img src="./static/images/tattoos/crocodile_shadow_calf.jpg" alt="">
            <img src="./static/images/tattoos/crown_font_bicep.jpg" alt="">
            <img src="./static/images/tattoos/demoness_bicep.jpg" alt="">
            <img src="./static/images/tattoos/dog_hand_arm.jpg" alt="">
            <img src="./static/images/tattoos/dog_portrait_arm.webp" alt="">
            <img src="./static/images/tattoos/dog_portrait_bicep.webp" alt="">
            <img src="./static/images/tattoos/dog_portrait_shoulder.webp" alt="">
            <img src="./static/images/tattoos/dogs_portrait_arm.jpg" alt="">
            <!-- <img src="./static/images/tattoos/dragon_floral_thigh.jpg" alt=""> -->
            <img src="./static/images/tattoos/dragon_turtle_back.webp" alt="">
            <img src="./static/images/tattoos/fairy_shoulder.jpg" alt="">
            <img src="./static/images/tattoos/fairy_thigh.jpg" alt="">
            <img src="./static/images/tattoos/feathers_turtle_thigh.webp" alt="">
            <img src="./static/images/tattoos/floral_filagree_1.webp" alt="">
            <img src="./static/images/tattoos/floral_filagree_2.webp" alt="">
            <img src="./static/images/tattoos/floral_filagree_3.webp" alt="">
            <img src="./static/images/tattoos/floral_hand.jpg" alt="">
            <img src="./static/images/tattoos/floral_ribs.jpg" alt="">
            <img src="./static/images/tattoos/floral_shoulder.webp" alt="">
            <img src="./static/images/tattoos/floral_tricep.jpg" alt="">
            <img src="./static/images/tattoos/floral_underbreast.webp" alt="">
            <img src="./static/images/tattoos/Gengar_Color_Arm.jpg" alt="">
            <img src="./static/images/tattoos/goatskull_floral_leg.jpg" alt="">
            <img src="./static/images/tattoos/halo_floral_arm.jpg" alt="">
            <img src="./static/images/tattoos/horse_modern_shoulder.webp" alt="">
            <img src="./static/images/tattoos/hourglass_skull_arm.webp" alt="">
            <img src="./static/images/tattoos/hummingbird_floral_shoulders.webp" alt="">
            <img src="./static/images/tattoos/hummingbird_watercolor_calf.jpg" alt="">
            <img src="./static/images/tattoos/lotus_jewelry_chest.jpg" alt="">
            <img src="./static/images/tattoos/mermaid_watercolor_shoulder.jpg" alt="">
            <img src="./static/images/tattoos/microphone_shoulder.webp" alt="">
            <img src="./static/images/tattoos/moon_floral_arm.webp" alt="">
            <img src="./static/images/tattoos/owl_realistic_arm.webp" alt="">
            <img src="./static/images/tattoos/pistol_skull_shoulder.jpg" alt="">
            <img src="./static/images/tattoos/samurai_font_arm.jpg" alt="">
            <img src="./static/images/tattoos/shotgun_bear_deadlift_koala_shoulder.webp" alt="">
            <img src="./static/images/tattoos/signs_american_tricep.jpg" alt="">
            <img src="./static/images/tattoos/snake_arm_1.webp" alt="">
            <img src="./static/images/tattoos/snake_arm_2.webp" alt="">
            <img src="./static/images/tattoos/snake_floral_thigh.webp" alt="">
            <img src="./static/images/tattoos/snake_floral_thigh_2.webp" alt="">
            <img src="./static/images/tattoos/snake_floral_thigh_3.webp" alt="">
            <img src="./static/images/tattoos/snake_floral_thigh_4.webp" alt="">
            <img src="./static/images/tattoos/snake_floral_thigh_5.webp" alt="">
            <img src="./static/images/tattoos/snake_floral_thigh_6.webp" alt="">
            <img src="./static/images/tattoos/snake_skull_thigh.jpg" alt="">
            <img src="./static/images/tattoos/spaceman_dragonfly_arm.webp" alt="">
            <img src="./static/images/tattoos/spider_neck.jpg" alt="">
            <img src="./static/images/tattoos/sun_floral_shoulder.webp" alt="">
            <img src="./static/images/tattoos/tides_couple_arm.jpg" alt="">
            <img src="./static/images/tattoos/tiger_floral_arm.jpg" alt="">
            <img src="./static/images/tattoos/trex_fantasy_forearm.jpg" alt="">
            <img src="./static/images/tattoos/trident_font_arm.jpg" alt="">
            <img src="./static/images/tattoos/victorian_realistic_shoulder.jpg" alt="">
            <img src="./static/images/tattoos/wolf_coverup_rib_2.webp" alt="">
            <img src="./static/images/tattoos/wolf_coverup_rib.webp" alt="">
            <img src="./static/images/tattoos/yingyang_women_calf.webp" alt="">
        </div>
    </div>
    
    <!--* MODAL STRUCTURE -->
    <div id="modal" class="modal">
        <span id="close-btn" class="close">&times;</span>
        <img id="modal-img" class="modal-content" alt="Modal Image">
    </div>

    <!--* FOOTER -->
    <!-- {% include '_footer_insta.html' %} -->
    <footer class="footer-text">
        <div class="break-line"></div>
        <a href="https://www.instagram.com/lynk_ynk/" target="_blank"><img src="./static/images/icons/ig-logo-white.png" alt="Instagram Link to Lynk_Ynks profile"></a>
    </footer>

    <!-- Load your JavaScript file at the end of the body -->
    <!-- <script src="{{ url_for('static', filename='js/gallery.js') }}"></script> -->
    <script src="./static/js/gallery.js"></script>
</body>
</html>