* {
	color: rgb(226, 226, 226); /** All Default Text-Color */
}

body {
	background-image: url("../images/site_background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:100vw;
	background-color: rgba(22, 17, 24, 0.945);
	background-position: center;
}

fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 60px;
	width: 740px;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

.gallery {
	margin-top: 5px;
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}

	.gallery > img {
		width: 30vw;
		aspect-ratio: 1 / 1; /* Maintain a square aspect ratio */
		object-fit: cover; /* Cover the square window without stretching */
		margin: 30px;
		cursor: pointer; /* Set cursor for clickable images */
		border-radius: 7px;
	}

/** Open Preview Window */
.modal {
    display: none;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
	border-radius: 7px;
}

	.modal-content {
		margin: 10% auto;
		display: block;
		width: 75vw;
		max-height: 70vh;
	}

	.close {
		color: rgb(111, 13, 114);
		float:right;
		font-size: 50px;
		font-weight: bold;
		margin-right: 15px;
	}
