.break-line {
	height: 1px;
	width: 80vw;
	background-color: #ccc;
	margin: 20px 60px;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

	.footer-text {
		list-style: none; /* Remove bullets */
		text-transform: uppercase;
	}

	footer > a > img {
		display: block;
		min-width: 10px;
		max-width: 30px;
		height: auto;
		padding: 2px;
		margin-bottom: 10px;
		text-shadow: none; /* Initial text shadow */
		transition: text-shadow 0.3s;
	}

	/*onHover Add white shadow */
	footer > a:hover > img {
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.623);
	}

	/*onClick Add white shadow */
	footer > a:after > img {
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.623);
	}