/** Left + right sections of the navigation */
.paged.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin: 6px 10px;
	flex-direction: column;
}

    .paged.nav .left {
        flex: 1;
    }

    .paged.nav .right {
        flex: 3;
        display: flex;
        justify-content: flex-end;
    }

    .paged.nav .right > ul {
        list-style: none; /* Remove bullets */
        text-transform: uppercase;
    }

    .paged.nav .right > ul > li {
        display: inline;
        margin-right: 20px;
    }

    /* Links within list items */
    .paged.nav .right > ul > li > a,

    
    /*OnHover Add white shadow*/
    .paged.nav .right > ul > li > a:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    
    /*onClick Add white shadow */
    .paged.nav .right > ul > li > a:active {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    
    button > div {
        margin: 15px 15px;
    }
    
    .paged.nav .left a,

    /** Logo */
    .paged.nav .left img {
        display: block;
        min-width: 10px;
        max-width: 90px;
        height: auto;
        padding: 2px;
        border-radius: 50px;
    }
    
    .paged.nav .right .bar {
        display: inline-block;
        width: auto;
        padding: 10px;
    }

.footer-text {
    text-decoration: none;
    color: white;
    font-weight: 100;
    text-shadow: none;
    transition: text-shadow 0.3s; /* Smooth transition for text shadow changes */
}